<div id="heroCon">
            <h2 class="hidden">Main Hero Video</h2>
            <video  controls="False" autoplay="true" loop>
                <source class="heroVid" src="video/prior_m_logo_reveal.mp4" type="video/mp4">
                <source class="heroVid" src="video/prior_m_logo_reveal.ogg" type="video/ogg">
                Your browser does not support this video.
            </video>
            <img id="heroTitle" src="images/hero_title.png" class="title2" alt="Michael Prior Design">
            <div id="heroSocial">
                <img src="images/fb_icon_wht.svg" class="whiteIcon" alt="Facebook Icon">
                <img src="images/yt_icon_wht.svg" class="whiteIcon" alt="Youtube Icon">
                <img src="images/li_icon_wht.svg" class="whiteIcon" alt="Linked In Icon">
            </div>
</div>

<div id="aboutSection">
    <h2 class="hidden">About Me Section</h2>

        <h2 class="hidden">About Me Image</h2>
        <img src="images/self_pic_1.png" id="aboutImg" alt="Michael Prior self Picture">

    <div id="aboutLeft">
        <div id="aboutCopy">
            <h2 class="hidden">About Me Copy</h2>
            <p>Hello my name is Michael Prior, I am a designer and artist from the London Ontario area. I am a student at Fanshawe College, in the Interactive Media Design program. Once graduated, I plan to continue learning new and exciting ways of developing interesting content.</p>
            <p>Thanks to my mother, I developed a love for art and design from a young age while attending the local YMCA art camps that she ran. I spent most of my life sketching and drawing comic type characters, and redesgining Picso and Myspace pages (usually quite terribly) to share my interests with my close friends. Eventually, I stated to learn about all the ways you can create fun and interesting content digitally.</p>
            <p>My goal is always to continuously create visually stimulating content for a variety of clients, while making the interaction between the client and the end user seemless and easy.</p>
        </div>
    </div>
</div>

{{!-- PORTFOLIO gallery SECTION --}}
<div id="portTitleCon">
    <img src="images/port_title.png" id="portTitle" class="title" alt="My Portfolio Title">
</div>
<section id="portfolioSection" class="section">
    <h2 class="hidden">My Portfolio</h2>
    <div class="faveThings">
        <!-- loop through db and put the info on the page -->
        {{#each thing}} <!-- A for each loop -->
        <div class="thing">
            {{!-- title from db --}}
            <h2>{{Title}}</h2>
            {{!-- img from db --}}
            <img src="images/{{Image}}" alt="Video Game Cover" class="thingImage">
            {{!-- title from db --}}
            <h3>{{Role}}</h3>
            <a class="link" href="{{Link}}">{{Link}}</a>
            <!-- Place Piece info here -->
            <p class="info" id="info{{ID}}"></p>
            {{!-- See more button --}}
            <a href="{{ID}}" class="seeMore" id="seeMore{{ID}}">More Info</a>
        </div>
        {{/each}}
    </div>
</section>


{{!-- DEMO REEL SECTION --}}
<section id="demoSection">
    <h2 class="hidden">Demo Reel</h2>
    <img src="images/demo_reel_title.png" id="demoTitle" class="title" alt="Demo Reel Title">
    <iframe  id="demoReel" src="https://www.youtube.com/embed/CYn7_Fwsg1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

{{!-- CONTACT SECTION --}}
<section id="contactSection">
    <h2 class="hidden">Contact Me</h2>
    <img src="images/contact_title.png" id="contactTitle" class="title" alt="Contact Me Title">

    <div id="contactForm">
        <!-- Name -->
        <label for="firstName" class="hidden">Name</label>
        <div id="contactNameInput">
            <input id="firstName" type="text" placeholder="First Name" required>
            <input id="lastName" type="text" placeholder="Last Name" required>
        </div> <!-- End contactName -->

		<!-- Email -->
		<label for="email" class="hidden">Email</label>
		<input id="email" type="Email" placeholder="example@website.com" required>

        <!-- Subject -->
		<label for="subject" class="hidden">Subject</label>
		<input id="subject" type="text" placeholder="Let's work together!" required>

		<!-- Message -->
		<label for="message" class="hidden">Message</label>
		<textarea id="message" cols="50" rows="14" placeholder="Write your message here!" required></textarea>

		<!-- Submit Button -->
		<input class="submit" type="submit" value="Submit">
	</div> <!-- End contactForm -->
</section> <!-- End contactSection -->

