<div id="aboutSection">
    <h2 class="hidden">About Me Section</h2>

    <div id="aboutImg">
        <h2 class="hidden">About Me Image</h2>
        <img src="images/self_pic_1.png">
    </div>

    <div id="aboutLeft">
        <div id="aboutCopy">
            <h2 class="hidden">About Me Copy</h2>
            <p>Hello my name is Michael Prior, I am a designer and artist from the London Ontario area. I love fast cars and faster guitars, and a good cup of coffee after 10pm. </p>
        </div>
        <div id="aboutSkills">
                <h2 class="hidden">My Skills</h2>
                <p>I am pretty good at a whole lot of different things. (see below)</p>
        </div>
    </div>
</div>


{{!-- PORTFOLIO gallery SECTION --}}
<section id="portfolioSection" class="section">
    <div class="faveThings">
        <!-- loop through db and put the info on the page -->
        {{#each thing}} <!-- A for each loop -->
        <div class="thing">
            {{!-- img from db --}}
            <img src="images/{{Image}}" alt="Video Game Cover" class="thingImage">
            {{!-- title from db --}}
            <h2>{{Title}}</h2>
            {{!-- role from db --}}
            <h3>{{Role}}</h3>
            <a class="link" href="{{Link}}">{{Link}}</a>
            <!-- Place Piece info here -->
            <p class="info" id="info{{ID}}"></p>
            {{!-- See more button --}}
            <a href="{{ID}}" class="seeMore" id="seeMore{{ID}}">More Info</a>
        </div>
        {{/each}}
    </div>
</section>

{{!-- CONTACT SECTION --}}
<section id="contactSection">
    <h2>Contact</h2>
    <p id="contactText" class="importantText">If you're interested in contacting me please fill out the form below!</p>

    <div id="contactForm">
        <!-- Name -->
        <label for="firstName">Name</label>
        <div id="contactNameInput">
            <input id="firstName" type="text" placeholder="First Name" required>
            <input id="lastName" type="text" placeholder="Last Name" required>
        </div> <!-- End contactName -->

		<!-- Email -->
		<label for="email">Email</label>
		<input id="email" type="Email" placeholder="example@website.com" required>

        <!-- Subject -->
		<label for="subject">Subject</label>
		<input id="subject" type="text" placeholder="Let's work together!" required>

		<!-- Message -->
		<label for="message">Message</label>
		<textarea id="message" cols="50" rows="14" placeholder="Write your message here!" required></textarea>

		<!-- Submit Button -->
		<input class="submit" type="submit" value="Submit">
	</div> <!-- End contactForm -->
</section> <!-- End contactSection -->

